<div class="hb-page">
  <div class="hb-page__header">
    <div class="hb-header">
      <a class="hb-header__icon" v-link="{ name: 'index' }">
        <icon-back></icon-back>
      </a>
      <div class="hb-header__content">Layout</div>
      <a class="hb-header__icon" v-link="{ name: 'index' }">
        <icon-home></icon-home>
      </a>
    </div>
  </div>
  <div class="hb-page__content" style="padding:10px">
    <h2>Body</h2>
    <p>Here is body</p>
  </div>
  <div class="hb-page__footer" style="text-align:center;line-height:40px">
    <div>Footer</div>
  </div>
</div>
