@import "../../vars"

.hb-tabbar
  padding $space 0
  display flex
  .hb-tabbar__item
    flex 1 1 auto
    text-align center
    color #000
    &.v-link-active
      color #fff
      svg path
        fill #fff
