@import "../../vars"

.hb-button__wrapper
  padding $space
  padding-left 0
  display flex
  > .hb-button
    flex 1
    margin-left 10px
    text-align center
    padding 10px
    border-radius ($space/2)
    &.confirm
      border solid 1px #999
      background #999
      color white
    &.cancel
      border solid 1px #999
      color #999
      background white
