@import "../../vars"

.hb-button__wrapper
  padding $space
  padding-left 0
  display flex
  > .hb-button
    flex 1
    margin-left $space
    text-align center
    padding $space
    border-radius ($space/2)
    &.confirm
      border solid 1px #999
      background #999
      color white
    &.cancel
      border solid 1px #999
      color #999
      background white
