@import "../../vars"

.hb-header
  display flex
  width 100vw
  line-height 40px
  height 40px
  .hb-header__icon
    flex 0 0 auto
    width 40px
    text-align center
  .hb-header__content
    flex 1 1 auto
    text-align center
