@import "../../vars"

body.popup-open
  .hb-page
    .hb-page__content
      overflow-y hidden

.hb-page
  display flex
  flex-direction column
  height 100vh
  .hb-page__header
    background grey
    flex 0 0 auto
    position relative
    z-index 2
  .hb-page__footer
    background grey
    flex 0 0 auto
    position relative
    z-index 2
  .hb-page__content
    flex 1 1 auto
    overflow-y auto
    -webkit-overflow-scrolling touch
